body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Base.html */
#logo {
  height: 80px;
  margin-right: 5px;
}

#logo-text {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-brand {
  margin-bottom: -10px;
}

/* index.html */

.carousel .carousel-item {
  height: 70vh;
}

.carousel-item img {
  position: relative;
  object-fit: cover;
  min-height: 70vh;
  max-height: 110%;
}

.caption {
  background-color: rgba(33, 37, 41, 0.65);
  margin-bottom: auto;
  width: fit-content;
  text-align: center;
}

.caption h2 {
  margin: 15px;
  font-size: 3.7em;
  text-transform: uppercase;
  font-weight: 800;
}

.caption p {
  font-size: 1.1em;
  margin: 10px 10px 0 10px;
}

.caption button {
  margin-bottom: 15px;
}

#snooker-button {
  margin-bottom: 30px;
}

.home-card {
  background-color: rgba(255, 0, 50, 0.8);
  min-height: fit-content;
  max-height: 100vh;
  margin-bottom: 30px;
  border-radius: 15px;
}

.home-card h4 {
  font-weight: 700;
  padding-top: 10px;
}

.home-card hr {
  margin: 0;
}

.tagline {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.tagline-comment {
  font-size: 1em;
  font-weight: 400;
}

.address {
  margin-left: 40px;
}

#map {
  height: 100%; 
}

.testimonial {
  max-width: 90%;
}

.testimonial hr {
  width: 80%;
}