body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.main {
  flex: 1;
}

/* Base.html */
#logo {
  height: 80px;
  margin-right: 5px;
}

#logo-text {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-brand {
  margin-bottom: -10px;
}

/* index.html */

.carousel .carousel-item {
  height: 70vh;
}

.carousel-item img {
  position: relative;
  object-fit: cover;
  min-height: 70vh;
  max-height: 110%;
}

.english-pool {
  background-image: url("https://res.cloudinary.com/dc4ysqmxt/image/upload/v1695056883/static/images/pool-home.717919c93fff.jpg");
  background-size: cover;
  min-height: 70vh;
  max-height: 110%;
}

.snooker-image {
  background-image: url("../images/snooker-home.jpg");
  background-size: cover;
  min-height: 70vh;
  max-height: 110%;
}

.american-pool-image {
  background-image: url("../images/american-pool.jpg");
  background-size: cover;
  min-height: 70vh;
  max-height: 110%;
}

.caption {
  background-color: rgba(33, 37, 41, 0.65);
  margin-bottom: auto;
  width: fit-content;
  text-align: center;
}

.caption h1 {
  margin: 15px;
  font-size: 3.7em;
  text-transform: uppercase;
  font-weight: 800;
}

.caption p {
  font-size: 1.1em;
  margin: 10px 10px 0 10px;
}

.caption button {
  margin-bottom: 15px;
}

#snooker-button {
  margin-bottom: 30px;
}

.home-card {
  background-color: rgba(255, 0, 50, 0.8);
  min-height: fit-content;
  max-height: 100vh;
  margin-bottom: 30px;
  border-radius: 15px;
}

.home-card h2 {
  font-weight: 700;
  padding-top: 10px;
}

.home-card hr {
  margin: 0;
}

.tagline {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.tagline-comment {
  font-size: 1em;
  font-weight: 400;
}

.address {
  margin-left: 40px;
}

.map-div {
  position: relative;
  left: 5vw;
}

#map {
  min-height: 300px;
}

.testimonials {
  max-width: 100vw;
}

.testimonial {
  max-width: 90%;
  max-height: 500px;
}

.testimonial hr {
  width: 80%;
  margin: 10px auto;
}

.testimonial-box {
  background-color: black;
  max-height: 300px;
  margin-bottom: 20px;
}

.index-hr {
  max-width: 80%;
  margin: 10px auto;
}

/* Sign up */

.red-box {
  background-color: rgba(255, 0, 50, 0.65);
  border-radius: 15px;
  min-width: 50vw;
  max-width: fit-content;
}

.signup h1 {
  font-weight: 600;
}

.signup input {
  border-radius: 2%;
}



/* Tables Page */

.table-image {
  margin: 20px 0px;
  max-width: 30vh;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.table-image ~ p {
  margin-bottom: 10px;
}

.table-image ~ p:last-of-type {
  margin-bottom: 20px;
}

.table-div {
  min-width: fit-content;
  max-width: 25vw;
}

.table-div:hover {
  background-color: rgba(232, 2, 2, 0.87)
}

.our-tables {
  font-size: 3em;
}

.tables-heading {
  font-size: 2.5em;
}

.table-hr {
  max-width: 80vw;
}



/* My Bookings */


.row-hover:hover{
  background-color: rgba(255, 0, 50, 0.65);
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 0, 50, 0.65); 
}

.red-background {
  background-color: rgba(255, 0, 50, 0.65); 
  /* border-color: white;
  border- */
  border: 1px solid #dee2e6;
}

.booking-table {
  min-width: fit-content;
  max-width: 80vw;
  margin: 10px auto 20px;
}

/* Error Messages */

.errorlist {
  margin: 0;
  padding: 0;
}

.errorlist li {
  background-color: #010101;
  list-style-type: none;
  margin: 15px auto;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  max-width: 45%;
  border: 1px solid;
}



/* Media Queries */

@media (max-width: 767px) {
  .snooker-image {
    background-image: url(../images/snooker-home-sm.jpg);
  }

  .english-pool {
      background-image: url('https://res.cloudinary.com/dc4ysqmxt/image/upload/v1695122698/static/images/pool-home-sm.c7e69a133049.jpg');
  }

  .american-pool-image {
    background-image: url(../images/american-pool-sm.jpg);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .snooker-image {
    background-image: url(../images/snooker-home-md.jpg);
  }

  .english-pool {
      background-image: url('https://res.cloudinary.com/dc4ysqmxt/image/upload/v1695122699/static/images/pool-home-md.307bf1484561.jpg');
  }

  .american-pool-image {
    background-image: url(../images/american-pool-md.jpg);
  }
}

@media (min-width: 992px) and (max-width: 1000px) {
  .snooker-image {
    background-image: url(../images/snooker-home-lg.jpg);
  }

  .english-pool {
      background-image: url('https://res.cloudinary.com/dc4ysqmxt/image/upload/v1695122700/static/images/pool-home-lg.b4ae5e6ca1de.jpg');
  }

  .american-pool-image {
    background-image: url(../images/american-pool-lg.jpg);
  }
}



