{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-white text-center red-box">
            <h1 class="mt-2 fw-bold">Edit Booking</h1>
            <p>Opening times: 11am - 11pm</p>
            <p>Booking as: {{ user.username }}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark fw-bold m-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}