{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-white text-center red-box">
            <h1 class="mt-2 fw-bold">Edit Booking</h1>
            <p>Opening times: 11am - 11pm</p>
            <p>Booking as: {{ user.username }}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark fw-bold m-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-white text-center red-box mt-5">
                <h1 class="fw-bold pt-3">Edit Booking</h1>
                <div>
                    <p class="fw-bold m-0">Oops!</p>
                    <!-- <p class="mb-0">Looks like you're not logged in...</p> -->
                    <p class="mb-0">You need to be logged in to access this page!</p>
                    <a href="{% url 'account_login' %}" class="text-white fw-bold btn btn-dark mb-3 mt-1">Sign In</a>
                </div>
                <div>
                    <p class="mb-0">Don't have an account?</p>
                    <a href="{% url 'account_signup' %}" class="text-white fw-bold btn btn-dark mb-3 mt-1">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}