{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> -->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner d-flex align-items-center">
        <div class="carousel-item active" data-bs-interval="4000">
            <img class="d-block w-100" src="{% static '/images/snooker-home.jpg' %}" alt="Snooker">
            <div class="carousel-caption d-none d-md-block top-0 mt-4">
                <div class="row justify-content-center mt-5">
                    <!-- <div class="col-6 col-lg-5 caption mt-4"> -->
                    <div class="col-12 col-lg-12 caption mt-4">
                        <p>Tables from £10 p/h</p>
                        <h2 class="snooker-caption-h2">Snooker</h2>
                        <button type="button" class="btn btn-primary" id="snooker-button">Book Now!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img class="d-block w-100" src="{% static '/images/pool-home.jpeg' %}" alt="English Pool">
            <div class="carousel-caption d-none d-md-block top-0 mt-4">
                <div class="row justify-content-center align-items-center mt-5">
                    <!-- <div class="col-6 col-lg-5 caption mt-4"> -->
                    <div class="col-12 col-lg-12 caption mt-4">
                        <p>Tables from £8 p/h</p>
                        <h2>English<br>Pool</h2>
                        <button type="button" class="btn btn-primary">Book Now!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img class="d-block w-100" src="{% static '/images/american-pool.jpg' %}" alt="American Pool">
            <div class="carousel-caption d-none d-md-block top-0 mt-4">
                <div class="row justify-content-center mt-5">
                    <!-- <div class=" col-6 col-lg-5 caption mt-4"> -->
                    <div class="col-12 col-lg-12 caption mt-4">
                        <p>Tables from £8 p/h</p>
                        <h2>American<br>Pool</h2>
                        <button type="button" class="btn btn-primary">Book Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}