{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner d-flex align-items-center">
            <div class="carousel-item active" data-bs-interval="3500">
                <div class="d-block w-100 snooker-image" alt="Snooker"></div>
                <div class="carousel-caption d-none d-sm-block top-0 mt-4">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12 col-lg-12 caption mt-4">
                            <p>Tables from £10 p/h</p>
                            <h1>Snooker</h1>
                            <a href="{% url 'reservation' %}" class="btn btn-primary mb-3 fw-bold">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
                <div class="d-block w-100 english-pool-image" alt="English Pool"></div>
                <div class="carousel-caption d-none d-sm-block top-0 mt-4">
                    <div class="row justify-content-center align-items-center mt-5">
                        <div class="col-12 caption mt-4">
                            <p>Tables from £5.50 p/h</p>
                            <h1>English<br>Pool</h1>
                            <a href="{% url 'reservation' %}" class="btn btn-primary mb-3 fw-bold">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
                <div class="d-block w-100 american-pool-image" src="{% static 'images/american-pool.jpg' %}"
                    alt="American Pool"></div>
                <div class="carousel-caption d-none d-sm-block top-0 mt-4">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12 caption mt-4">
                            <p>Tables from £7.50 p/h</p>
                            <h1>American<br>Pool</h1>
                            <a href="{% url 'reservation' %}" class="btn btn-primary mb-3 fw-bold">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="mb-3">
    <div class="text-center text-white mt-4">
        <h2 class="fw-bold">The 147 Club</h2>
        <p>What We Offer</p>
    </div>
    <div class="container-fluid">
        <div class="row text-center text-white justify-content-evenly">
            <div class="col-10 col-sm-8 col-md-3 home-card">
                <h2>Snooker</h2>
                <hr>
                <p class="tagline">Challenge yourself with the ultimate cue sport</p>
                <p class="tagline-comment">Our tables are maintained to the highest standards, ensuring a smooth and
                    enjoyable game every time.</p>
            </div>
            <div class="col-10 col-sm-8 col-md-3 home-card">
                <h2>Bookings</h2>
                <hr>
                <p class="tagline">Secure your spot, make your booking today</p>
                <p class="tagline-comment">Our booking process is simple and hassle-free. Book now, don't miss your
                    chance to play.</p>
            </div>
            <div class="col-10 col-sm-8 col-md-3 home-card">
                <h2>Pool</h2>
                <hr>
                <p class="tagline">Get your cue on and show your pool skills</p>
                <p class="tagline-comment">Whether you're playing solo or with friends, our pool tables provide a fun
                    and exciting break from everyday life.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row text-white m-0 justify-content-center">
        <div class="col-11 col-md-7">
            <h3 class="text-center mb-3 fw-bold">Where to find us</h3>
            <hr class="index-hr">
            <div class="row mb-4">
                <div class="col-11 col-sm-5 ml-3">
                    <div class="address">
                        <p class="fw-bold mb-1">Address:</p>
                        <p>147 Hendry Road,<br>
                            Sheffield,<br>
                            S1 1DA,<br>
                            England
                        </p>
                        <p class="fw-bold mb-1">Contact Us:</p>
                        <p><span class="fw-bold">Phone Number:</span> 01234567890 <br> <span
                                class="fw-bold">Email:</span> info@147club.com</p>

                        <p class="fw-bold mb-1">Opening Hours:</p>
                        <p>11:00am - 11:00pm</p>
                    </div>
                </div>
                <div class="col-11 col-sm-6 col-md-7 p-0">
                    <div class="map-div">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-5">
            <div class="row text-white testimonials">
                <div class="col-10 offset-1">
                    <h3 class="mb-3 fw-bold text-center">Testimonials</h3>
                    <hr class="index-hr">
                    <div class="testimonial-box overflow-scroll">
                        {% for testimonial in testimonial_list %}
                        {% if testimonial.approved %}
                        <div class="col-10 offset-1 testimonial">
                            <p>{{ testimonial.comment }}</p>
                            <p>By <span class="fw-bold">{{ testimonial.user_id }}</span> on <span
                                    class="fw-bold">{{ testimonial.created_on }}</span></p>
                            <hr class="index-hr">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <p class="text-center mb-3">Have you been here before?<br>
                        <a href="{% url 'review' %}" class="text-white fw-bold">Leave us a review!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}