{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-white text-center red-box">
            <h1 class="mt-3 fw-bold">Book now!</h1>
            <p>Opening times: 11am - 11pm</p>
            <p>Booking as: <span class="fw-bold">{{ user.username }}</span></p>
            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark mb-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-white text-center red-box">
            <h1 class="fw-bold">Book Now!</h1>
            <div>
                <p><span class="fw-bold">Oops!</span><br>Looks like you're not logged in...</p>
                <a href="{% url 'account_login' %}" class="text-white fw-bold"><button class="btn btn-dark">Sign In</button></a>
            </div>
            <div>
                <p class="mb-0">Don't have an account?</p>
                <a href="{% url 'account_signup' %}" class="text-white fw-bold"><button class="btn btn-dark">Sign Up</button></a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}